div#AboutUs {
    background-color: #FFF0E6;
}

div#AboutUs div.leftbox h2 {
    color: black;
}

div#AboutUs div.leftbox h1 {
    color: #FFA6A0;
}

div#AboutUs div.leftbox p {
    color: black;
    letter-spacing: 0.1rem;
}

div#AboutUs {
    grid-template-areas:
        "rightbox leftbox";
}

div#AboutUs img{
    padding: 1rem;
}

div#AboutUs div.leftbox button{
    
    width: 8rem;
    height: 3rem;
    padding: 0.2rem;
    border-radius: 5px;
    font-weight: bolder;
    font-size: larger;
    background-color: #7F2CCB;
    color: white;
}

div#AboutUs div.leftbox a{
    margin-left: auto;
    margin-right: auto; 
}


div#AboutUs div.leftbox button:hover{
    background-color: #751cc9;
    color: rgb(224, 218, 218);
    cursor: pointer;
}

@media (max-width: 1024px) {
    div#AboutUs {

        grid-template-areas:
            "rightbox "
            'leftbox';
    }
}