div#Booking{
    background-color: transparent;
    margin: 1rem;
    padding: 1rem;
    min-height: 70vh;
    border-radius: 25px;
    grid-template-areas:
    "headercomponent headercomponent" 
    "calender calenderform";
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-template-rows: 0.01fr 1fr;
}


div#headercomponent{
    grid-area: headercomponent;
    background-color: #FF3636 !important;
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

div#tyd select{
    margin-bottom: 0.3rem;
}

div#headercomponent h1{
    margin: 0.1rem;
}

div#bookingcomponent{
    padding: 0 0.5rem;
    grid-area: calender ;
    background-color: white;
    text-align: center;
    border-bottom-left-radius: 25px;

}

div#calenderform{
    grid-area: calenderform;
    background-color: white;
    text-align: center;
    border-bottom-right-radius: 25px;
    padding: 3rem;

}

button#scheduleButton{
   
    align-self: center;
    width: 8rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-weight: bolder;
    font-size: larger;
    background-color: #7F2CCB;
    color: white;
}

.react-calendar {
width: 25vw;
min-width: 80%;
background-color: white ;
border: 1px solid #ddd;
border-radius: 8px;
padding: 0.5rem;
margin: 0 auto;
}

.react-calendar button{
background: transparent;
border: 0;
padding: 0.5rem;
}

.react-calendar button:hover{
background-color: rgb(230, 217, 217);
}

/* xs: Extra Small (Mobile Portrait) */
@media (max-width: 480px) {
    /* Styles for very small devices */
}

/* sm: Small (Mobile Landscape) */
@media (max-width: 768px) {
    div#Booking{
        margin: 1rem;
        padding: 1rem;
        max-width: 100%;
        min-height: 65vh;
        display: grid;
        grid-template-areas: 
        "headercomponent"
        "calender"
        "calenderform ";
        grid-template-rows: 0.2fr 1fr 0.75fr;
        grid-template-columns: 1fr  ;
        text-align: center;
    }

    div#bookingcomponent{
        border-bottom-left-radius: 0;
    }

    div#calenderform{
        border-bottom-left-radius: 25px;
    }

    div#headercomponent{
        font-size: 1.5rem;
    }
}

