div#Booking{
    background-color: transparent;
    margin: 1rem;
    padding: 1rem;
    min-height: 70vh;
    border-radius: 25px;
    grid-template-areas:
    "headercomponent headercomponent" 
    "calender calenderform";
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-template-rows: 0.01fr 1fr;
}


div#headercomponent{
    grid-area: headercomponent;
    background-color: #FF3636 !important;
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

div#tyd select{
    margin-bottom: 0.3rem;
}

div#headercomponent h1{
    margin: 0.1rem;
}

div#bookingcomponent{
    padding: 0 0.5rem;
    grid-area: calender ;
    background-color: white;
    text-align: center;
    border-bottom-left-radius: 25px;

}

div#calenderform{
    padding: 0 0.5rem;
    grid-area: calenderform;
    background-color: white;
    text-align: center;
    border-bottom-right-radius: 25px;

}

button#scheduleButton{
   
    align-self: center;
    width: 8rem;
    height: 3rem;
    padding: 0.2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-weight: bolder;
    font-size: larger;
    background-color: #7F2CCB;
    color: white;
}

.react-calendar {
width: 25vw;
max-width: 100%;
background-color: white ;
border: 1px solid #ddd;
border-radius: 8px;
padding: 0.5rem;
margin: 0 auto;
}

.react-calendar button{
background: transparent;
border: 0;
padding: 0.5rem;
}

.react-calendar button:hover{
background-color: rgb(230, 217, 217);
}
 