div#catOne{
    margin: 1rem;
    padding: 1rem;
   
    min-height: 65vh;
    display: grid;
    grid-template-areas: 
    "image about"
    "description1 description2";
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 0.5fr 2fr ;
    border-radius: 25px;
    /* background-color: white; */
}

div#catimage{
    grid-area: image;
    background: linear-gradient(to bottom, #FF3636 50%, white 50%);
    border-top-left-radius: 25px;
    padding: 0.1rem;
}

div#catimage img{
    height: 15rem;
    clip-path: circle(42%); /* Clips the image into a circular shape */
    border: 10px solid white;
    
}

div#about{
    grid-area: about;
    border-top-right-radius: 25px;
    color: white;
    font-size: 2rem;
    background: linear-gradient(to bottom, #FF3636 50%, white 50%);
}

div#catdescription1{
    grid-area: description1;
    background-color: white;
    border-bottom-left-radius: 25px;
    padding-left: 1rem;
}

div#catdescription1 h3 {
    padding: 0;
    margin: 0;
   
}

button#meetMeButton{
   
    align-self: center;
    width: 8rem;
    height: 3rem;
    padding: 0.2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-weight: bolder;
    font-size: larger;
    background-color: #7F2CCB;
    color: white;
}
button#meetMeButton:hover{

background-color: #751cc9;
color: rgb(224, 218, 218);
cursor: pointer;

}

div#catdescription2{
    grid-area: description2;
    background-color: white;
    padding: 0.1rem;
    padding-right: 4rem;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding-bottom: 1rem;
}

/* xl */
@media (max-width: 1280px) {
    
}

/* lg */
@media (max-width: 1024px) {
    div#catimage img{
        height: 12rem;
    }

    div#about{
        font-size: 1.5rem;
        /* background: linear-gradient(to bottom, #FF3636 50%, white 50%); */
    }

    
}

/* md */
@media only screen and (max-width: 768px) {
    div#catimage img{
        height: 10rem;
    }

    div#about{
        font-size: 1.2rem;
    }

}

/* sm */
@media (max-width: 640px) {
    div#catOne{
        margin: 1rem;
        padding: 1rem;
        max-width: 100%;
        min-height: 65vh;
        display: grid;
        grid-template-areas: 
        "image"
        "about"
        "description1 "
        "description2";
        grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr;
        grid-template-columns: 1fr  ;
        text-align: center;
        /* background-color: white; */
    }

    div#about{
        background-color: #FF3636;
        border-radius: 0;
    }

    div#catimage{
        background: none;
        background-color: #FF3636;
        border-top-right-radius: 25px;

    }

    div#catimage img{
        height: 8rem;
    }

    div#catdescription1{
        border-radius: 0;
        padding: 0;
        margin: 0;

    }

    div#catdescription2{
        border-bottom-left-radius: 25px;
        padding-right: 0;

    }

    .dissappear{
        display: none;
    }
}

/* xs */
@media (max-width: 475px) {
    div#about{
        font-size: 1.2rem;
        background: linear-gradient(to bottom, #FF3636 60%, white 40%);

    }  

    div#catimage img{
        height: 8rem;
    }

    div#catOne{
        grid-template-rows: 0.5fr 0.7fr 0.4fr 1fr;
        margin: 0rem;

    }
}
  
    




