div#background {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url('../Assests/cat_background.png'); /* Set the background image */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100vw;
    height: 80vh;
    min-height: 80vh;
}

div#Cat{
    margin: 2rem;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 25px;
    color: white;

}

div#catTiles{
    padding: 1rem;
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
}

div.catsingle{
    margin: 0.4rem;
    padding: 0.5rem;
    min-width: 30%;
    text-align: center;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(36, 35, 35);
    background-color: white;
    display: grid;
    grid-template-areas: 
    "catphoto catteks";


}

div.catsingleteks{
    grid-area: catteks;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

div.catsingle img{
    grid-area: catphoto;
    height: 10rem;
    
}

p#pcat{
    color: white;
}
