div#footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #FFA6A0;
}

div#footer h1 , div#footer h3{
    margin: 0.4rem;
}

div#footer h1 , div#footer h3 a{
    text-decoration: none;
    color: black;
}

 div#footer h3 a:hover{
    text-decoration: none;
    color: #FFF0E6;
}