div div#links ul li{
    list-style: none;
    margin: 0.5rem; 
    padding: 0.2rem;
    display: inline-block;
}

div div ul li a{
   
    color: black;
    text-decoration: none;
}

div div ul li:hover{
    list-style: none;
    margin: 0.5rem; 
    display: inline-block;
    padding: 0.2rem;
    background-color: #FFA6A0;
}

div#navbar div img{
    height: 5rem;
}

div#navbar div button{
    min-width: 5rem;
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 5px;
}

div#navbar div button#sign{
    color: #FFF0E6;
    background-color: black;
    font-weight: bolder;

    
}

div#navbar div button#login{
    color: black;
    background-color: #FFF0E6;
    font-weight: bolder;

}

div#navbar div button#sign:hover{
    color: #FFA6A0;
    background-color: black;
}

div#navbar div button#login:hover{
    color: black;
    background-color: #FFA6A0;
}

div#navbar{
    display: flex;
    /* border: 2px solid black; */
    padding: 5px;
    justify-content: space-between;  
    align-items: center;
    background-color: #FFF0E6;  
    font-weight: bolder;
    max-width: 100%;
    position: sticky;
    top: 0; /* Sticks to the top of the viewport */
    z-index: 1;
  }

  @media (max-width: 2000px) {
    div#slbuttons , div#links{
        display: block;
    }

    div#faBars , nav#faBarsLink{
        display: none;
    }
  }

  @media (max-width: 640px) {
    div#slbuttons , div#links{
        display: none;
    }

    div#faBars {
        display: block;
    }

    nav#faBarsLink{
        position: fixed;
        top: 0rem;
        right: 0rem;
        padding: 0;
        border: 2px solid black;
        height: 100vh;
        width: 50vw;
        background-color: #FFA6A0;
       
        
        
    }

    nav#faBarsLink ul{
        padding: 1rem;
        margin: 0;
        text-align: center;
    }

    nav#faBarsLink ul li{
        padding: 0.5rem 0.2rem ;
        margin: 0;
        margin-bottom: 2rem;
        font-size: large;
        list-style: none;
        color: black;
        background-color: #FFA6A0;
        min-width: 5rem;
        
    }

   

    nav#faBarsLink ul li:hover {
        color: rgb(28, 27, 27);
        background-color:#f7958e;
    }
  }



