div#background {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url('../Assests/cat_background.png'); /* Set the background image */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

div#SignUpForm{
    border-radius: 10px;
    display: flex;
    margin: 2rem auto;
    width: 60vw;
    height: 55vh;
    padding: 1rem;

}

div#SignUpForm h1  ,div#SignUpForm button , div#SignUpForm p{
    margin: 0.5rem;
    padding: 0.1rem;
    
}

div.FormText{
    margin-left: auto;
    margin-right: auto;
    color: white;
}
button.blink{
    background-color: transparent;
    border: none;
    color: blue;
    
}

button.abutton{
    border-radius: 5px;
    font-weight: bolder;
    background-color: #7b7a7d;
    color: white;
}

button.abutton:hover{
    background-color: #751cc9;
    color: rgb(224, 218, 218);
}

